<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{student.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="success" (click)="update(student.id)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" routerLink="/home">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="delete(student.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card text-center>
    <ion-card-header>
      <ion-card-subtitle>{{student.name}}</ion-card-subtitle>
      <ion-card-title>{{student.controlnumber}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [formGroup]="myForm">
      <ion-item>
        <ion-label position="floating">CURP:</ion-label>
        <ion-input formControlName="curp" type="text"></ion-input>
      </ion-item>
      <div class="">
        <ng-container *ngFor="let val of validationMessages['curp']">
          <div class="" *ngIf="myForm.get('curp').hasError(val.type)&&(myForm.get('curp').dirty || myForm.get('curp').touched)" >
            {{val.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Age:</ion-label>
        <ion-input formControlName="age" type="number"></ion-input>
      </ion-item>
      <div class="">
        <ng-container *ngFor="let val of validationMessages['age']">
          <div class="" *ngIf="myForm.get('age').hasError(val.type)&&(myForm.get('age').dirty || myForm.get('age').touched)" >
            {{val.message}}
          </div>
        </ng-container>
      </div>
      <!-- <p>CURP: <strong>{{student.curp}}</strong></p>
      <p>EDAD: <strong>{{student.age}}</strong></p> -->
      <ion-chip color="secondary" *ngIf="student.active" class="ion-flaot-center">
        <ion-label>Activo</ion-label>
      </ion-chip>
      <ion-chip color="danger" *ngIf="!student.active" class="ion-flaot-center">
        <ion-label>Inactivo</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>
