<ion-content color="light" padding>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Estudiante</h3>
          </div>
          <div padding>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Name:</ion-label>
                  <ion-input formControlName="name" type="text" min="3" max="150" required></ion-input>
                </ion-item>
                <div class="">
                  <ng-container *ngFor="let val of validationMessages['name']">
                    <div class="" *ngIf="myForm.get('name').hasError(val.type)&&(myForm.get('name').dirty || myForm.get('name').touched)" >
                      {{val.message}}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">CURP:</ion-label>
                  <ion-input formControlName="curp" type="text"></ion-input>
                </ion-item>
                <div class="">
                  <ng-container *ngFor="let val of validationMessages['curp']">
                    <div class="" *ngIf="myForm.get('curp').hasError(val.type)&&(myForm.get('curp').dirty || myForm.get('curp').touched)" >
                      {{val.message}}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Control Number:</ion-label>
                  <ion-input formControlName="controlnumber" type="text"></ion-input>
                </ion-item>
                <div class="">
                  <ng-container *ngFor="let val of validationMessages['controlnumber']">
                    <div class="" *ngIf="myForm.get('controlnumber').hasError(val.type)&&(myForm.get('controlnumber').dirty || myForm.get('controlnumber').touched)" >
                      {{val.message}}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Age:</ion-label>
                  <ion-input formControlName="age" type="number"></ion-input>
                </ion-item>
                <div class="">
                  <ng-container *ngFor="let val of validationMessages['age']">
                    <div class="" *ngIf="myForm.get('age').hasError(val.type)&&(myForm.get('age').dirty || myForm.get('age').touched)" >
                      {{val.message}}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Active: </ion-label>
                  <ion-toggle formControlName="active" color="secondary"></ion-toggle>
                </ion-item>
                <div class="">
                  <ng-container *ngFor="let val of validationMessages['active']">
                    <div class="" *ngIf="myForm.get('active').hasError(val.type)&&(myForm.get('active').dirty || myForm.get('active').touched)" >
                      {{val.message}}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="!myForm.valid" routerLink="/home" (click)="update()" expand="block" color="dark">
              Guardar
            </ion-button>
          </div>
          <div padding>
            <ion-button size="large" type="submit" routerLink="/home" expand="block" color="dark">
              Lista de estudiantes
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

