<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
    <ion-button (click)="onLogout()" expand="block" slot="end">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment [(ngModel)]="student" value="todos">
    <ion-segment-button value="todos">
      Todos
    </ion-segment-button>
    <ion-segment-button value="activos">
      Activos
    </ion-segment-button>
    <ion-segment-button value="inactivos">
      Inactivos
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="student">
    <ion-list *ngSwitchCase="'todos'">
      <ion-item-sliding *ngFor="let student of students">
        <ion-item-options side="start">
          <ion-item-option color="secondary" (click)="edit(student)">
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item tappable (click)="detail(student)">
          <ion-label>
            <h2>
              <strong>{{student.name}}</strong>
              <ion-chip color="secondary" *ngIf="student.active" class="ion-float-right">
                <ion-label>Activo</ion-label>
              </ion-chip>
              <ion-chip color="danger" *ngIf="!student.active" class="ion-float-right">
                <ion-label>Inactivo</ion-label>
              </ion-chip>
            </h2>
            <h3>{{student.controlnumber}}</h3>
          </ion-label>
        </ion-item>
        <ion-button (click)="showAlert(student.curp,student.age)" shape="round" color="tertiary" fill="clear" class="ion-float-right">
          Más Información..
        </ion-button>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="edit(student)">
            <ion-icon name="close"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'activos'">
      <ion-item-sliding *ngFor="let student of students">
        <ion-item-options side="start">
          <ion-item-option color="secondary">
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item *ngIf="student.active" tappable (click)="detail(student)">
          <ion-label>
            <h2>
              <strong>{{student.name}}</strong>
              <ion-chip color="secondary" *ngIf="student.active" class="ion-float-right">
                <ion-label>Activo</ion-label>
              </ion-chip>
              <ion-chip color="danger" *ngIf="!student.active" class="ion-float-right">
                <ion-label>Inactivo</ion-label>
              </ion-chip>
            </h2>
            <h3>{{student.controlnumber}}</h3>
          </ion-label>
        </ion-item>
        <ion-button *ngIf="student.active" (click)="showAlert(student.curp,student.age)" shape="round" color="tertiary" fill="clear" class="ion-float-right">
          Más Información..
        </ion-button>
        <ion-item-options side="end" *ngIf="student.active">
          <ion-item-option color="danger">
            <ion-icon name="close"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'inactivos'">
      <ion-item-sliding *ngFor="let student of students">
        <ion-item-options side="start">
          <ion-item-option color="secondary">
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item *ngIf="!student.active" tappable (click)="detail(student)">
          <ion-label>
            <h2>
              <strong>{{student.name}}</strong>
              <ion-chip color="secondary" *ngIf="student.active" class="ion-float-right">
                <ion-label>Activo</ion-label>
              </ion-chip>
              <ion-chip color="danger" *ngIf="!student.active" class="ion-float-right">
                <ion-label>Inactivo</ion-label>
              </ion-chip>
            </h2>
            <h3>{{student.controlnumber}}</h3>
          </ion-label>
        </ion-item>
        <ion-button *ngIf="!student.active" (click)="showAlert(student.curp,student.age)" shape="round" color="tertiary" fill="clear" class="ion-float-right">
          Más Información..
        </ion-button>
        <ion-item-options side="end" *ngIf="!student.active">
          <ion-item-option color="danger">
            <ion-icon name="close"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  
</ion-content>